<ng-container [formGroup]="formGroup">
  <div class="row">
    <div class="col-12 margin-bottom">
      <h3 class="laranja altura-bottom"><i class="fa fa-asterisk"></i>Trata-se de ocorrência envolvendo intolerância/discriminação?</h3>
      <p-radioButton name="groupIntoleranciaDiscriminacao" formControlName="intoleranciaDiscriminacao" value="S" label="Sim"></p-radioButton>&nbsp;&nbsp;&nbsp;
      <p-radioButton name="groupIntoleranciaDiscriminacao" formControlName="intoleranciaDiscriminacao" value="N" label="Não"></p-radioButton>&nbsp;&nbsp;&nbsp;
      <p-radioButton name="groupIntoleranciaDiscriminacao" formControlName="intoleranciaDiscriminacao" value="NS" label="Não Sei" displayErrors></p-radioButton>
    </div>
  </div>

  <div class="row">
    <div class="row space-10">
        <div class="col-6 margin-bottom">
          <h4>Tipo de intolerância</h4>
          <p-dropdown id="tipoIntolerancia" [options]="dropdownTipoIntolerancia" formControlName="tipoIntolerancia" placeholder="Selecione" displayErrors></p-dropdown>
        </div>
        <div class="col-6 margin-bottom">
          <h4>Outros</h4>
          <input id="intoleranciaOutros" type="text" pInputText formControlName="intoleranciaOutros" displayErrors/>
        </div>
    </div>
  </div>
</ng-container>