<p-table [value]="delegacia" selectionMode="single" [(selection)]="selecionaDelegacia" dataKey="delegacia">
    <ng-template pTemplate="header">
      <tr [pSelectableRow]="delegacia">
        <th style="width: 40%; font-weight: bold">Delegacia</th>
        <th style="width: 30%; font-weight: bold">Entrada</th>
        <th style="width: 30%; font-weight: bold">Saída</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>{{ delegacia }}</td>
        <td>{{ entrada }}</td>
        <td>{{ saida }}</td>
      </tr>
    </ng-template>
  </p-table>