<div class="row" *ngFor="let value of value">
  <div class="col">Nome: <b>{{ value.name }}</b>
    <div class="col mt-2">Tipo Visualização: <b>{{ value.tipoVisualizacao }}</b></div>
  </div>
  <div class="col">Rg: <b>{{ value.rg }}</b>
    <div class="col mt-2">Acessa Prov. 32:<b>{{ value.acessoProv }}</b></div>
  </div>
  <div class="col">Cargo: <b>{{ value.cargo }}</b>
    <div class="col mt-2">Edita Doc's DP's:<b>{{ value.editaDoc }}</b></div>
  </div>
  <div class="col">Perfil: <b>{{ value.perfil }}</b>
    <div class="col mt-2">Acessa Inquéritos: <b>{{ value.acessaInqueritos }}</b></div>
  </div>
</div>