<div class="row mt-5">
  <div class="col-2 margin-bottom" data-step="3" data-intro="Clique na lupa para buscar um plantonista.">
    <h4 class="laranja">Placa <i class="fa fa-asterisk"></i></h4>
    <input type="text" pInputText />
  </div>
  <div class="col-2 margin-bottom" data-step="4" data-intro="Clique na lupa para buscar um plantonista.">
    <h4 class="laranja">Cor <i class="fa fa-asterisk"></i></h4>
    <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>
  </div>
  <div class="col-4 margin-bottom" data-step="5" data-intro="Clique na lupa para buscar um plantonista.">
    <h4 class="laranja">Marca/Modelo <i class="fa fa-asterisk"></i></h4>
    <input type="text" pInputText />
  </div>
  <div class="col-0 no-label">
    <button type="button" (click)="showDialogPlantonista()" pButton icon="pi pi-search"></button>
  </div>
  <div class="col-12 mt-2">
    <div class="col-12 p-2 btn-buscar"></div>
    <div class="btn-buscar">
      <button id="btnBuscarNumeroRdo" type="button" pButton label="Buscar" class="ui-button-secondary"></button>
    </div>
  </div>
</div>