/**Responsive 1366px**/
@media (min-width: 1200px){.col-xl-2 {flex: 2 0 16.666667%; max-width: 19.666667%;}.col-xl-3 {flex: 1 0 25%; max-width: 28%;}}
@media (min-width: 768px){.col-md-3 {flex: 1 0 25%; max-width: 39%;}}
