/**Responsivo 1366**/
@media (width: 1366px){.col-xl-5 {flex: 0 0 52.666667%; max-width: 85.666667%;} .col-2{flex:0 0 29.666667%; max-width: 21.666667%;}}
@media(width: 1024px){.numeracao-tracking {border-right: 1px solid #cccccc; padding-right: 30px; cursor: pointer;} .col-2 {flex: 8 0 16.666667%; max-width: 34.666667%;}}