<div class="row margin-bottom">
    <div class="col-md-3 altura-top">
      <h3 class="laranja">Viatura <i class="fa fa-asterisk"></i></h3>
      <input id="txtViatura" type="text" pInputText />
    </div>
    <div class="col-md-8"></div>
  </div>
  <div class="row margin-bottom">
    <div class="col-12 row alinhar-btn-footer">
      <p-button id="btnSalvarCondutor" label="Salvar" class="btn-salvar"></p-button>
      <p-button id="btnCancelarCondutor" label="Cancelar" class="btn-salvar btn-secundario"></p-button>
    </div>
  </div>