<div class="row margin-bottom">
    <div class="col-12">
      <h4 class="laranja">Locais que frequenta</h4>
<p-table [value]="LocalPessoa" selectionMode="single" dataKey="LocalPessoa">
  <ng-template pTemplate="header">
    <tr [pSelectableRow]="LocalPessoa">
      <th style="width: 30%; font-weight: bold">Nome do local</th>
      <th style="width: 30%; font-weight: bold">Período que Frequenta</th>
      <th style="width: 30%; font-weight: bold">Tipo de Local</th>
      <th class="text-center" style="width: 10%; font-weight: bold">Excluir</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body">
    <tr>
      <td>{{ NomeLocal }}</td>
      <td>{{ PeriodoLocal }}</td>
      <td>{{ TipoLocal }}</td>
      <td class="text-center">
        <button id="btnExcluirLocais01" pButton icon="fa fa-close"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button id="btnNovoLocais01" type="button" pButton icon="fa fa-plus" label="Novo" style="width: 100px;"></button>
    </div>
  </ng-template>
</p-table>
</div>
</div>