<p-dialog header="Escolha a Delegacia" [(visible)]="display" (onHide)="onClose()" [modal]="true" [responsive]="true" [width]="1150" [minWidth]="600" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <div class="row margin-bottom">
      <div class="col-md-4 text-center">
          <button id="btnDelegaciaPadrao" type="button" pButton label="Delegacia Padrão do Delegado" ></button>
      </div>
      <div class="col-md-8 atencao">
          <i class="fa fa-fw fa-bell"></i>      
          Atenção: você está associado a outras delegacias como substituto. Esta substituição possui um prazo. 
          Ciente disto, marque uma das opções abaixo:
      </div>  
  </div>
  <div class="row margin-bottom">      
      <div class="col-md-12">
          <app-table-escolha-delegacia></app-table-escolha-delegacia>
      </div>
  </div>
  <p-footer>
    <button id="btnCancelarDelegacia1" type="button" pButton (click)="displayDelegacia = false" label="Cancelar" class="ui-button-secondary" (click)="display = false"></button>
    <button id="btnConfirmarDelegacia1" type="button" pButton (click)="displayDelegacia = false" icon="fa fa-check" (click)="display = false" label="Confirmar"></button>
  </p-footer>
</p-dialog>