<div class="row" *ngFor="let value of value">
    <div class="col-3 mt-2">Seccional: <b>{{ value.seccional }}</b></div>
    <div class="col-3 mt-2">Código DP: <b>{{ value.codDp }}</b></div>
    <div class="col-3 mt-2">Nome DP: <b>{{ value.nomeDp }}</b></div>
    <div class="col-3 mt-2">Tipo DP: <b>{{ value.tipoDp }}</b></div>
    <div class="col-3 mt-2">Delegado Tit.: <b>{{ value.delegadoTit }}</b></div>
    <div class="col-3 mt-2">Delegado de Plantão: <b>{{ value.delegadoPlantao }}</b></div>
    <div class="col-3 mt-2">Inquéritos: <b>{{ value.inqueritos }}</b></div>
    <div class="col-3 mt-2">Bloqueia RG: <b>{{ value.bloqueiaRg }}</b></div>
    <div class="col-3 mt-2">Bloqueia Veículo: <b>{{ value.bloqueiaVeiculo }}</b></div>
    <div class="col-3 mt-2">Bloqueia Desap.: <b>{{ value.bloqueiaDesap }}</b></div>
    <div class="col-3 mt-2">Envia Defensoria:<b>{{ value.enviaDefensoria }}</b></div>
    <div class="col-3 mt-2">Envia Infocrim: <b>{{ value.enviaInfocrim }}</b></div>
    <div class="col-3 mt-2">Edição de Doc's: <b>{{ value.editaoDoc }}</b></div>
</div>
  <hr>
