<p-dialog header="Modus Operandi" [(visible)]="display" (onShow)="ngOnInit()" (onHide)="onClose()" [modal]="true" [responsive]="true" [width]="600" [minWidth]="600" [minY]="70" [maximizable]="true"[baseZIndex]="10000">
    <div class="row margin-bottom">
      <div class="col-12 margin-bottom">
        <h4 class="laranja">Local de Acesso <i class="fa fa-asterisk"></i></h4>
        <p-dropdown id="cboLocalAcesso" [options]="select" [(ngModel)]="selected"></p-dropdown>
      </div>
      <div class="col-12 margin-bottom">
        <h4 class="laranja">
          Qualificação de Acesso <i class="fa fa-asterisk"></i>
        </h4>
        <p-dropdown id="cboQualificacaoAcesso" [options]="select" [(ngModel)]="selected"></p-dropdown>
      </div>
    </div>
    <p-footer>
      <button id="btnCancelarModus01" type="button" pButton (click)="display = false" label="Cancelar" class="ui-button-secondary"></button>
      <button id="btnConfirmarModus01" type="button" pButton icon="fa fa-check" (click)="display = false" label="Confirmar"></button>
    </p-footer>
  </p-dialog>