<!-- Sidebar -->    
<ul class="sidebar-nav">
        <li class="sidebar-brand li-cor-fundo"><a href="#" routerLink="/home"><img src="../../assets/img/logo-nrdo.png" class="logo-rdo" /></a></li>
    </ul>
<!-- /#sidebar-wrapper -->
<div class="content">
        <div id="jquery-accordion-menu" class="jquery-accordion-menu black">
            <ul>                
                <li><a href="javascript:void(0);" routerLink="/home"><i class="fa fa-home"></i>Home </a></li>
                <li><a href="javascript:void(0);" routerLink="/login" id="lnkLogin">Login</a></li>                
                <li><a href="javascript:void(0);" routerLink="/cadastro-bo-rapido">Cadastro BO</a></li>                
                <li><a href="javascript:void(0);"><i class="fa fa-lock"></i>Administração </a>
                    <ul class="submenu">
                        <li><a href="javascript:void(0);" routerLink="/plantao" id="lnkPlantao">Plantão</a></li>
                        <li><a href="#">Pesquisar Cód. de Impressão</a></li>
                        <li><a href="#">Alterar Senha</a></li>
                        <li><a href="#">Desbloquear Usuários</a></li>
                        <li><a href="#">Trocar Delegacia do Usuário</a></li>
                        <li><a href="#">Trocar o Escrivão / Delegado de um RDO</a></li>
                        <li><a href="javascript:void(0);">Pré-atendimento </a>
                            <ul class="submenu">
                                <li><a href="#">Elaborar / Alterar Pré-Atendimento</a></li>
                                <li><a href="#">Editar Documentos Pré-Atendimento</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);">Buscas </a>
                            <ul class="submenu">
                                <li><a href="#">Pessoas</a></li>
                                <li><a href="#">Veículos</a></li>
                                <li><a href="#">Armas</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="javascript:void(0);"><i class="fa fa-book"></i>Relatórios </a>
                    <ul class="submenu">
                        <li><a href="#">Exames Perícia X Laudo</a></li>
                        <li><a href="#">Consulta Defensoria</a></li>
                        <li><a href="#">Ocorrências</a></li>
                        <li><a href="#">Bloqueio de RGs</a></li>
                        <li><a href="#">Bloqueio de Veículos</a></li>
                        <li><a href="#">Desbloqueio de Veículos</a></li>
                        <li><a href="#">Devolução de Veículos</a></li>
                        <li><a href="#">Consulta de Bloqueios/Desbloqueio IMEI</a></li>
                        <li><a href="#">Bloqueio de Pessoa Encontrada</a></li>
                        <li><a href="#">Baixa de Pessoa Desaparecida</a></li>
                        <li><a href="#">Circunscrição</a></li>
                        <li><a href="#">Faixa de RDOs</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0);"><i class="fa fa-share"></i>Encaminhamentos TJ </a>
                    <ul class="submenu">
                        <li><a href="#">Consultar Intimação TJ</a></li>
                        <li><a href="#">Consultar Encaminhamentos TJ</a></li>
                        <li><a href="#">Encaminhamentos TJSP Criados X Ajuizados</a></li>                        
                    </ul>
                </li>
                <li><a href="javascript:void(0);"><i class="fa fa-eye"></i>Acompanhar Envios TJ</a>
                    <ul class="submenu">
                        <li><a href="#">Acompanhar Envios TJ</a></li>
                    </ul>
                </li>
            </ul>            
        </div>
    </div>

   
