<div class="row margin-div">
  <div class="col-12 space-10">
    <h3 class="laranja"><i class="fa fa-asterisk"></i>Histórico do B.O.<i class="pi pi-question-circle" pTooltip="Lorem ipsum dolor" tooltipPosition="top" placeholder="Top"></i></h3>
  </div>
  <div class="col-12">
    <textarea id="ttaHistoricoBO01" [rows]="5" [cols]="30" pInputTextarea></textarea>
  </div>
</div>
<div class="row margin-bottom">
  <div class="col-12 row alinhar-btn-footer">
    <p-toast [style]="{ marginTop: '80px' }"></p-toast>
    <button pButton type="button" (click)="showSuccess()" label="Salvar" class="btn-salvar mr-1"></button>
    <button pButton type="button" label="Cancelar" class="btn-cancelar ui-button-secondary"></button>
  </div>
</div>
