<div class="col-xl-12 align-right">
  <a class="btn btn-outline-warning btn-lg" href="javascript:void(0);" onclick="javascript:introJs().start();"><i class="fa fa-question-circle fa-2x"></i></a>
</div>
<br />
<div class="row margin-bottom bg-color-cadastro">
  <div class="col-md-6">
    <img src="../../assets/img/img-digitando2.jpg" class="digitando" />
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-12 altura-top">
        <h2>Criar Novo <b>RDO</b></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 altura-top">
        <h3>Cadastro Rápido</h3>
        <br />
        <p>Cadastre o boletim de maneira rápida, preenchendo apenas os campos obrigatórios.</p>
        <br /><br />
      </div>
      <div class="col-md-6 altura-top">
        <h3>Cadastro Completo</h3>
        <br />
        <p>Cadastre o boletim numa versão completa, preenchendo os campos obrigatórios incluindo também detalhes do ocorrido.</p>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 align-center">
        <a routerLink="/cadastro-rapido"><p-button class="btn-cadastrar" label="Novo Cadastro"></p-button></a>
      </div>
      <div class="col-md-6 align-center">
        <a routerLink="/cadastro"><p-button class="btn-cadastrar" label="Novo Cadastro"></p-button></a>
      </div>
    </div>
  </div>
</div>

<div class="row margin-bottom">
  <div class="col-3">
    <p-card title="Ocorrências">
      <div class="text-center">
        <h2>35</h2>
        <span class="fa fa-id-card fa-4x" style="display: contents;"></span>
      </div>
    </p-card>
  </div>
  <div class="col-3">
    <p-card title="RDOs em Aberto">
      <div class="text-center">
        <h2>5</h2>
        <span class="fa fa-exclamation-triangle fa-4x" style="display: contents;"></span>
      </div>
    </p-card>
  </div>
  <div class="col-3">
    <p-card title="RDOs de outros DPs">
      <div class="text-center">
        <h2>2</h2>
        <span class="fa fa-inbox fa-4x" style="display: contents;"></span>
      </div>
    </p-card>
  </div>
  <div class="col-3">
    <p-card title="RDOs para Geoprocessar">
      <div class="text-center">
        <h2>1</h2>
        <span class="fa fa-globe fa-4x" style="display: contents;"></span>
      </div>
    </p-card>
  </div>
</div>

<div class="row margin-bottom">
  <div class="col-md-6">
    <p-card title="Dados do Login">
      <p-header>
        <img src="../../assets/img/img-login3.jpg" class="img-login" />
      </p-header>
      <p-panel header="Usuário">
        <div class="row">
          <div class="col-md-6 text-left">
            <label class="lbl-descricao">Nome</label><br />
            <label class="lbl-resposta">João Paulo Ferreira da Silva</label>
          </div>
          <div class="col-md-2 text-left">
            <label class="lbl-descricao">RG</label><br />
            <label class="lbl-resposta">25.632.547-02</label>
          </div>
          <div class="col-md-2 text-left">
            <label class="lbl-descricao">Cargo</label><br />
            <label class="lbl-resposta">Delegado</label>
          </div>
          <div class="col-md-2 text-left">
            <label class="lbl-descricao">Perfil</label><br />
            <label class="lbl-resposta">Delegado</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-left">
            <label class="lbl-descricao">Tipo Visualização</label><br />
            <label class="lbl-resposta">Normal</label>
          </div>
          <div class="col-md-3 text-left">
            <label class="lbl-descricao">Acessa Prov. 32?</label><br />
            <label class="lbl-resposta">Não</label>
          </div>
          <div class="col-md-3 text-left">
            <label class="lbl-descricao">Edita Doc's DP's?</label><br />
            <label class="lbl-resposta">Sim</label>
          </div>
          <div class="col-md-3 text-left">
            <label class="lbl-descricao">Acessa Inquéritos?</label><br />
            <label class="lbl-resposta">Sim</label>
          </div>
        </div>
      </p-panel>
      <br />
      <p-panel header="Delegacia">
        <div class="row">
          <div class="col-md-4 text-left">
            <label class="lbl-descricao">Seccional</label><br />
            <label class="lbl-resposta">DEL.SEC.1º CENTRO</label>
          </div>
          <div class="col-md-3 text-left">
            <label class="lbl-descricao">Código DP</label><br />
            <label class="lbl-resposta">10108</label>
          </div>
          <div class="col-md-3 text-left">
            <label class="lbl-descricao">Nome DP</label><br />
            <label class="lbl-resposta">08º D.P. BRAS</label>
          </div>
          <div class="col-md-3 text-left">
            <label class="lbl-descricao">Tipo DP</label><br />
            <label class="lbl-resposta">Normal</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-left">
            <label class="lbl-descricao">Delegado Titular</label><br />
            <label class="lbl-resposta">Dr. Silva</label>
          </div>
          <div class="col-md-4 text-left">
            <label class="lbl-descricao">Delegado de Plantão</label><br />
            <label class="lbl-resposta">Dr. VANDERBILT</label>
          </div>
          <div class="col-md-2 text-left">
            <label class="lbl-descricao">Inquéritos</label><br />
            <label class="lbl-resposta">Sim</label>
          </div>
          <div class="col-md-2 text-left">
            <label class="lbl-descricao">Bloqueia RG</label><br />
            <label class="lbl-resposta">Sim</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-left">
            <label class="lbl-descricao">Bloqueia Veículo</label><br />
            <label class="lbl-resposta">Sim</label>
          </div>
          <div class="col-md-4 text-left">
            <label class="lbl-descricao">Bloqueia Desap.</label><br />
            <label class="lbl-resposta">Sim</label>
          </div>
          <div class="col-md-4 text-left">
            <label class="lbl-descricao">Envia Defensoria</label><br />
            <label class="lbl-resposta">Sim</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-left">
            <label class="lbl-descricao">Envia Infocrim</label><br />
            <label class="lbl-resposta">Sim</label>
          </div>
          <div class="col-md-4 text-left">
            <label class="lbl-descricao">Edição de Doc's</label><br />
            <label class="lbl-resposta">Sim </label>
          </div>
        </div>
      </p-panel>
    </p-card>
  </div>
  <div class="col-md-6">
    <p-table [value]="contatos" selectionMode="single" [(selection)]="delegado" dataKey="delegado">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 33%; font-weight: bold">Delegacia</th>
          <th style="width: 7%; font-weight: bold">Ano</th>
          <th style="width: 10%; font-weight: bold">Número</th>
          <th style="width: 20%; font-weight: bold">RG Delegado</th>
          <th style="width: 20%; font-weight: bold">RG Escrivão</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body">
        <tr *ngFor="let contato of contatos">
          <td>{{ delegacia }}</td>
          <td>{{ ano }}</td>
          <td>{{ numero }}</td>
          <td>{{ delegado }}</td>
          <td>{{ escrivao }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-dialog header="Godfather I" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{ width: '350px', minWidth: '200px' }" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <span
      >The story begins as Don Vito Corleone, the head of a New York Mafia
      family, oversees his daughter's wedding. His beloved son Michael has just
      come home from the war, but does not intend to become part of his father's
      business. Through Michael's life the nature of the family business becomes
      clear. The business of the family is just like the head of the family,
      kind and benevolent to those who give respect, but given to ruthless
      violence whenever anything stands against the good of the family.</span
    >
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="display = false" label="Yes"></button>
      <button type="button" pButton icon="pi pi-close" (click)="display = false" label="No" class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
</div>
<app-footer></app-footer>


<!--
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Turbo Search</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="about" href="#about">About</a></li>
        <li><a class="contact" href="#contact">Contact Us</a></li>
      </ul>
  </div>
</nav>

<div class="featurette">
 <div class="featurette-inner text-center">
   <div class="input-group input-group-lg">
      <input type="text" placeholder="Search" class="form-control" id="mySearchButton">
      <span class="input-group-btn">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Options <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="">Images</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="">News Articles</a></li>
        <li class="divider"></li>
        <li><a href="">Default</a></li>
      </ul>
      </span>
   </div>
 </div>
</div>-->
