<div class="col-5">
  <h2>Buscar Armas<a class="btn btn-outline-warning btn-lg ml-2" href="javascript:void(0);" onclick="javascript:introJs().start();"><i class="fa fa-question-circle fa-2x"></i></a></h2>
  <!--Breadcrumb-->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/cadastro-bo-rapido" id="lnkCadastroRapido"><i class="pi pi-home"></i>Home</a>
      </li>
      <li class="breadcrumb-item active">Buscar Armas</li>
    </ol>
  </nav>
</div>
  <div class="card margin-bottom">
    <div class="row mt-5">
      <div class="col-3 margin-bottom" data-step="1" data-intro="Clique na lupa para buscar um plantonista.">
        <h4 class="laranja">Digite o Nº da Arma desejada </h4>
        <input id="txtRgPessoas" type="text" pInputText />
      </div>
      <div class="col-12 mt-2">
        <div class="col-12 p-2 btn-buscar"></div>
        <div class="btn-buscar">
          <button id="btnBuscar" type="button" pButton label="Buscar" class="ui-button-secondary"></button>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
  
  <div class="card margin-bottom">
    <div class="col-12 margin-bottom">
      <h4 class="laranja mt-4">Busca efetuada em:</h4>
      <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" label="RDO"></p-checkbox>
      <p-checkbox class="ml-2" name="groupname" value="val2" [(ngModel)]="selectedValues" label="ARMAS"></p-checkbox>
    </div>
  </div>
  
  <div class="margin-bottom">
    <div class="card-header header-elements-inline">
      <h6 class="card-title">Resultado da Pesquisa</h6>
    </div>
    <p-table [value]="buscarArmas" selectionMode="single" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr [pSelectableRow]="buscarArmas">
          <th style="width: 7%; font-weight: bold">Origem</th>
          <th style="width: 10%; font-weight: bold">Delegacia BO</th>
          <th style="width: 5%; font-weight: bold">Ano BO</th>
          <th style="width: 10%; font-weight: bold">Número BO</th>
          <th style="width: 10%; font-weight: bold">Marca</th>
          <th style="width: 12%; font-weight: bold">Tipo</th>
          <th style="width: 12%; font-weight: bold">Calibre</th>
          <th style="width: 12%; font-weight: bold">Proprietário</th>
          <th class="text-center" style="width: 8%; font-weight: bold">Situação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body">
        <tr>
          <td>{{ origem }}</td>
          <td>{{ delegaciaBo }}</td>
          <td>{{ anoBo }}</td>
          <td>{{ numeroBo }}</td>
          <td>{{ marcaBo }}</td>
          <td>{{ tipo }}</td>
          <td>{{ calibre }}</td>
          <td>{{ proprietario }}</td>
          <td>{{ situacao }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  